<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>url</key>
	<string>NSURL Class - !String</string>
	<key>httpMethod</key>
	<string>GET, POST, PUT, DELETE</string>
	<key>type</key>
	<string>JSON, STRING, FILE, IMAGE</string>
	<key>task</key>
	<string>DATA, UPLOAD, DOWNLOAD</string>
	<key>fileURL</key>
	<string></string>
	<key>param</key>
	<dict/>
	<key>customParam</key>
	<dict/>
</dict>
</plist>
